
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body {
  margin: 0;
  font-family:monospace sans-serif;

}
* {
  box-sizing: border-box;
}
#root {
  position: relative;
}
 
html {
  scrollbar-width: none;
}

/* Pour Chrome/Safari/Edge */
html::-webkit-scrollbar {
  display: none;
}

#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.page-transition #page-content {
  opacity: 0;
}

.title {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}